.thumbnail {
  width: 100%;
}

.channel-picture .channel-preview {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  padding: 15px;
  align-items: center;
  border: none;
  box-shadow: 0 0 3px grey;
  z-index: 2;
  max-height: 45px;
  max-width: 190px;
  min-width: 190px;
  pointer-events: none;
  opacity: 0;
}

.channel-picture:hover .channel-preview {
  cursor: pointer;
  opacity: 1;
}

.channel-name-preview {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 4px;
}
.sub-preview {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.profile-preview {
  width: 44px;
  border-radius: 22px;
  margin-right: 10px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-info {
}
.channel-picture {
  vertical-align: top;
  cursor: pointer;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
  z-index: 0;
}

.video-time {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 12px;
  font-weight: 500;
  right: 5px;
  bottom: 8px;
  border-radius: 2px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 480px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 481px) and (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
